{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}HospESCOM{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/style_base.css' %}">
</head>

<body>
  <header class="header fade-in">
     <div class="logo">Hosp<span>ESCOM</span></div>
     <!--Menú móvil-->
        <input type="checkbox" id="menu-toggle" class="menu-toggle">
        <label for="menu-toggle" class="menu-icon">
        </label>
    <nav class="nav">
      {% if request.session.usuario_tipo == 'paciente' %}
        <a href="{% url 'panel_paciente' %}">Inicio</a>
        <a href="{% url 'datos_personales' %}">Datos personales</a>
        <a href="{% url 'citas_agendadas' %}">Citas agendadas</a>
        <a href="{% url 'agendar_cita' %}">Agendar Cita</a>
        <a href="{% url 'logout' %}">Cerrar Sesión</a>
      {% elif request.session.usuario_tipo == 'doctor' %}
        <a href="{% url 'panel_doctor' %}">Inicio</a>
        <a href="{% url 'datos_doctor' %}">Mis Datos</a>
        <a href="{% url 'citas_medico' %}">Mis Citas</a>
        <a href="{% url 'historial_recetas' %}">Recetas</a>
        <a href="{% url 'logout' %}">Cerrar Sesión</a>
      {% elif request.session.usuario_tipo == 'recepcionista' %}
        <a href="{% url 'panel_recepcionista' %}">Inicio</a>
        <a href="{% url 'cobro_inicio' %}">Cobro</a>
        <a href="{% url 'farmacia' %}">Farmacia</a>
        <a href="{% url 'servicios_recepcionista' %}">Servicios</a>
        <a href="{% url 'bitacora_citas_recepcionista' %}">Bitácora de Citas</a>
        <a href="{% url 'gestionar_recepcionistas' %}">Gestionar Recepcionistas</a>
        <a href="{% url 'gestionar_doctores' %}">Gestionar Doctores</a>
        <a href="{% url 'logout' %}">Cerrar Sesión</a>
      {% else %}
        <a href="{% url 'index' %}">Inicio</a>
        <a href="{% url 'login' %}">Iniciar Sesión</a>
      {% endif %}
    </nav>
  </header>

  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>